
<div class="main-container">

	<div class="background-container">
		<img src="../../../assets/images/Cocoa.jpg" class="background-image">
	</div>

	<div class="contact-container">
		<!-- <div class="email-container">
			<mat-icon class="email-icon">email</mat-icon>
		    <a class="main-font" href="mailto:jungmann@seas.upenn.edu">Email Me</a>
		</div> -->
		<div (click)="openLinkedin()" class="linkedin-container">
			<img class="linkedin" id='linkedin' src='./../../../assets/images/linkedin.jpg'>
			<span class="linkedin-box">
			    <a class="mat-h4" href="https://www.linkedin.com/in/luke-jungmann" target="_blank">Visit My LinkedIn</a>
			</span>
		</div>
		<div>
			<div class="email-container">
				<span class="email-box">
				    <a class="mat-h4" href="mailto:luke.jungmann10@gmail.com" target="_blank">Email me</a>
				</span>
			</div>
			<div class="email-container">
				<span class="email-box">
				    <a class="mat-h4" href="tel:5053857465" target="_blank">Call me</a>
				</span>
			</div>
		</div>
	</div>
</div>