

<div class="main-container">
	<div class="section">
		<div class="background-subpage-container">
			<img src="../../../assets/images/LukeDany_small.jpg" class="background-image">
		</div>
		<div style="margin: 16px auto 54px auto;">
			<div class="mat-h5" style="margin-bottom: 16px;">Luke Jungmann is a Software Engineer working as a frontend developer for Aerial Applications.</div> 
			<div class="mat-h5" style="margin-bottom: 16px;">He has a Master's degree in Robotics Engineering from the University of Pennsylvania, and a Bachelor's degree in Mechanical Engineering from New Mexico Institute of Mining and Technology. </div>
			<div class="mat-h5">He enjoys spending time with his wife Dany and their cats, Tony, Tito, and Lily. They play video games, read books, and work on wild projects for fun together!</div>
		</div>
	</div>
</div>