@import "../styles.scss";
@import url(~fullpage.js/dist/fullpage.min.css);

.mat-elevation {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

span {
	font-family: 'Open Sans', sans-serif;
}

div {
	font-family: 'Open Sans', sans-serif;
}

li {
	font-family: 'Open Sans', sans-serif;
}

.component {
	width: 100vw;
	@include desktop {
		height: calc(100vh - 88px);
	}
	@include phone {
		height: calc(100vh - 64px);
	}
	position: relative;
	display: flex;
}

.top-bar {
	@include desktop {
		height: 88px;
	}
	@include phone {
		height: 64px;
	}
	display: flex;
	position: relative;
	overflow: hidden;
	max-width: 100vw;
	z-index: 1000;
	transition: .3s ease;

	&:active {
		outline:none;
	}

	&:focus {
		outline:none;
	}

	&:hover {
		opacity: 1 !important;
		transition: .3s ease;
		.wipe:after {
			width: 100%;
			height: 100%;
		}
	}
}

.background-container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: #0e0e0e;
	.background-image {
		background-color: #cccccc;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

.main-page {
	position: relative;
	height: 100vh;
	top: 0;
}

.router {
	position: relative;
	top: 0;
	width: 100vw;
	height: calc(100% - 64px);
	display: flex;
}

.visible {
	width: 108px;
	overflow: hidden;
	transition: 0.3s ease all;
}

.hidden {
	width: 0px;
	transition: 0.3s ease all;
}

.wipe {
	position: relative;
	display: inline-block;
	float: left;
	width: 6px;
	height: auto;
	margin-left: 16px;
	padding: 0;
	transition: all 0.5s;

	&:after {
		position: absolute;
		z-index: 9;
		content: '';
		transition: all 0.25s;
	}

	&.wipe-down,
	&.wipe-up {
		&:after {
			left: 0;
			width: 100%;
			height: 0;
		}
	}

	&.wipe-down {
		background-color: transparent;
		&:after {
			top: 0;
			background-color: white;
		}
	}

	&.wipe-up {
		background-color: transparent;
		&:after {
			bottom: 0;
			background-color: white;
		}
	}

	&:hover:after {
		width: 100%;
		height: 100%;
	}
}


@font-face {
	font-family: neon;
	src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.neon {
	font-family: neon;
	color: #FB4264;
	@include desktop {
		font-size: 9vw;
		line-height: 9vw;
	}
	@include phone {
		font-size: 16vw;
		line-height: 16vw;
	}
	text-shadow: 0 0 3vw #F40A35;
}

.flux {
	font-family: neon;
	color: #426DFB;
	@include desktop {
		font-size: 9vw;
		line-height: 9vw;
	}
	@include phone {
		font-size: 16vw;
		line-height: 16vw;
	}
	text-shadow: 0 0 3vw #2356FF;
}

.neon-pink {
	font-family: neon;
	color: #ffffff;
	@include desktop {
		font-size: 9vw;
		line-height: 9vw;
	}
	@include phone {
		font-size: 16vw;
		line-height: 16vw;
	}
	text-shadow: 0 0 3vw #2356FF;
}

.neon {
	animation: neon 3s ease infinite;
	-moz-animation: neon 3s ease infinite;
	-webkit-animation: neon 3s ease infinite;
}

@keyframes neon {
	0%,
	100% {
		text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
		color: #FED128;
	}
	50% {
		text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
		color: #806914;
	}
}

.flux {
	animation: flux 2s linear infinite;
	-moz-animation: flux 2s linear infinite;
	-webkit-animation: flux 2s linear infinite;
	-o-animation: flux 2s linear infinite;
}

@keyframes flux {
	0%,
	100% {
		text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
		color: #28D7FE;
	}
	50% {
		text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
		color: #146C80;
	}
}


.neon-pink {
	animation: neon-pink 2.5s ease infinite;
	-moz-animation: neon-pink 2.5s ease infinite;
	-webkit-animation: neon-pink 2.5s ease infinite;
}

@keyframes neon-pink {
	0%,
	100% {
		text-shadow: 0 0 1vw #ff107c, 0 0 3vw #ff107c, 0 0 10vw #ff107c, 0 0 10vw #ff107c, 0 0 .4vw #dd8bfe, .5vw .5vw .1vw #721480;
		color: #f728fe;
	}
	50% {
		text-shadow: 0 0 .5vw #800850, 0 0 1.5vw #800850, 0 0 5vw #800850, 0 0 5vw #800850, 0 0 .2vw #800832, .5vw .5vw .1vw #400a36;
		color: #80147b;
	}
}