

<div class="top-bar title-font" id="toolbar" routerLink="/home">
	<span style="margin: auto auto auto 12px;" class="visible" [ngClass]="{'hidden' : (currentPage && currentPage == 'home')}">
		<div class="wipe wipe-down"></div>
		<span class="mat-h1" style="cursor: pointer;">Home</span>
	</span>
</div>

<!-- <div class="router">
	<router-outlet #o="outlet"></router-outlet>
</div> -->

<div class="router" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
	<router-outlet #o="outlet"></router-outlet>
</div>