
<div class="menu-container">
	<div class="block" routerLink="/portfolio">
		<div class="block-container">
			<div class="title-font mat-h1" style="width: calc(50% - 48px);">Portfolio</div>
			<div class="main-font mat-h3" style="width: calc(50% - 48px);"><span>Read about my programming, engineering, and other professional experience and skills.</span></div>
		</div>
	</div>
	<div class="block" routerLink="/resume">
		<div class="block-container">
			<div class="title-font mat-h1" style="width: calc(50% - 48px);">Resume</div>
			<div class="main-font mat-h3" style="width: calc(50% - 48px);"><span>View my resume for succinct information about my experience and skills.</span></div>
		</div>
	</div>
	<div class="block" routerLink="/about">
		<div class="block-container">
			<div class="title-font mat-h1" style="width: calc(50% - 48px);">About</div>
			<div class="main-font mat-h3" style="width: calc(50% - 48px);"><span>Find out about my favorite activities, preferences, and hobbies.</span></div>
		</div>
	</div>
	<div class="block" routerLink="/contact">
		<div class="block-container">
			<div class="title-font mat-h1" style="width: calc(50% - 48px);">Contact</div>
			<div class="main-font mat-h3" style="width: calc(50% - 48px);"><span>Reach me through email, LinkedIn, or directly on this website.</span></div>
		</div>
	</div>
</div>


